/* Haciendo el navbar */
#navbar {
  display: none;
}

#openMenu {
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  min-height: 100dvh;
  margin: 0;
  font-family: Arial, sans-serif; /* Hay que elegir otra font algo más custom? */
}

h1 {
  padding: 10px 0;
  background-color: violet;
}

p {
  margin: 10px;
}

