@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");

body {
  min-height: 100dvh;
  padding: 1vw;
  font-family: Arial, sans-serif; /* Hay que elegir otra font algo más custom? */
}

header {
  height: 16vh;
}

.logo {
  padding: 10px;
  border-radius: 50%;
  height: 15vh;
  width: auto;
}

.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cont1 {
  padding: 10px;
  background-color: moccasin;
}

.tittle {
  text-decoration: underline;
}

.botonGral {
  margin: 1vh;
  border: none;
  background-color: moccasin;
  font-weight: bold;
}

.botonGral:hover {
  background-color: mistyrose;
}

.container {
  padding: 1rem;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.prod {
  padding: 1.5rem;
  width: 250px;
  height: 420px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.fifty {
  width: 50%;
}
