body {
  min-height: 100dvh;
  margin: 0;
  font-family: Arial, sans-serif; /* Hay que elegir otra font algo más custom? */
}

header {
  height: 16vh;
}

.logo {
  padding: 10px;
  border-radius: 50%;
  height: 15vh;
  width: auto;
}

.cont1 {
  margin: 10px;
  padding: 10px;
  background-color: violet;
}

p {
  margin: 10px;
}