body {
  min-height: 100dvh;
  padding: 1vw;
  font-family: Arial, sans-serif; /* Hay que elegir otra font algo más custom? */
}

header {
  height: 16vh;
}

.logo {
  padding: 10px;
  border-radius: 50%;
  height: 15vh;
  width: auto;
}

.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cont1 {
  padding: 10px;
  background-color: moccasin;
}

.tittle {
  text-decoration: underline;
}

.botonGral {
  margin: 1vh;
  border: none;
  background-color: moccasin;
  font-weight: bold;
}

.botonGral:hover {
  background-color: mistyrose;
}